/*
 * Global
 */
:root {
    font-weight: 'Inter', sans-serif;
}

/*
 * Cards and modals
 */
.card-footer,
.card-header,
.modal-footer,
.modal-header {
    background-color: transparent;
    border: none;
}

.modal.d-block {
    z-index: inherit;
}


/*
 * Cursor
 */
.cursor-auto {
    cursor: auto;
}
.cursor-default {
    cursor: default;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-wait {
    cursor: wait;
}
.cursor-text {
    cursor: text;
}
.cursor-move {
    cursor: move;
}
.cursor-help {
    cursor: help;
}
.cursor-not-allowed {
    cursor: not-allowed;
}


/*
 * Links
 */
a {
    color: var(--bs-link-color);
    text-decoration: none;
}
a:hover {
    color: var(--bs-link-hover-color);
    text-decoration: none;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

/*
 * Ribbon navbar
 */
.app-header {
    height: 3.2rem;
}
.nav-ribbon > .nav-item > .nav-link {
    border-top: 0.5rem solid transparent;
    padding-bottom: 2.275rem;
}

.nav-ribbon > .nav-item > .nav-link.active {
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
    border-top-color: var(--bs-primary);
}


/*
 * AdminLTE
 */
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    min-height: 0;
}

.card-tools .btn.btn-tool.disabled {
    border: none;
}

.card-tools .btn-group.btn-tool > .btn-tool {
    margin: 0;
}

/*
 * Tom Select
 */
.ts-dropdown {
    z-index: 1060;
}

/* Avoid select[multiple] flickering on page load */
select[multiple] {
   height: 33px; /* need to be adjust depending of input size */
   padding-top: 20px;
}


/* Dark theme */
[data-bs-theme=dark] .ts-dropdown {
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
    color: var(--ts-body-color);
    box-shadow: var(--ts-box-shadow-dropdown);
}
[data-bs-theme=dark] .ts-dropdown .active {
    background-color: rgba(var(--bs-secondary-bg-rgb),var(--bs-bg-opacity));
    color: var(--ts-body-color);
}

[data-bs-theme=dark] .ts-control {
    color: var(--bs-body-color);
}
[data-bs-theme=dark] .ts-control input {
    color: var(--bs-body-color);
}
[data-bs-theme=dark] .ts-wrapper.multi .ts-control > div {
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity));
    color: var(--ts-body-color);
}
[data-bs-theme=dark] .ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
    border-left: 1px solid var(--bs-border-color);
}


/*
 * Items selection
 */
.select-col {
    width: 32px;
}


/*
 * Forms
 */
form .alert.input-error {
    margin-top: 0.75rem;
    padding: 0.25rem 0.75rem;
}

/*
 * Pyramid debug toolbar
 */
body #pDebug #pDebugToolbarHandle {
    top: auto;
    bottom: 30px;
}
